/* header-menu */
.container-fluid{
    /* background-color: rgb(203, 241, 125); */
    background-color: #00DBDE;
    background-image: linear-gradient(120deg, #9adddfe8 0%, #c2ef74 100%);


}
.navbar-light .navbar-nav {
    font-size: 30px;
    margin-left: 40px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active{
    color: red;
}
.nav-link{
    margin-right: 20px;
}
.navbar-light .navbar-nav .nav-link{
    color: blue;
}
