.opis-tresci{
    max-width: 500px;
    margin: 0 auto;
    border-style: solid;
    border-radius: 30px;
    border-color: blueviolet;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(231, 226, 226);
}
.one-title{
    text-align: center;
    margin: 20px 0;
}
.one-opis{
    margin: 0 30px;
}
.one-item{
    margin: 40px 20px;
}

.two-section{
    min-height: 100vh;
    background-color: rgba(68, 171, 245, 0.366);
}
.two-title{
    font-family: 'Oswald', sans-serif;
    font-weight: 400px;
    color: #161515;
    margin: 30px 0;
    text-align: center;
}
.anim{
    color: rgb(255, 0, 0);
    
}

.two-box{
    display: flex;
    justify-content: space-evenly;
}
.two-input{
    background-color: rgb(58, 249, 25);
    border-style: solid;
    border-radius: 20px;
    padding-top: 20px;
}
.entry{
    display: block;
    margin: 15px auto;
    width: 160px;
    border-color: blue;
    border-radius: 10px;
    transition: 0.7s;
}
.input:focus{
    box-shadow: 0 0 15px rgb(14, 3, 228);
    background-color: rgb(218, 215, 215);
}
input::placeholder{
    color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.entry:hover{
    width: 170px;
    border-color: red;
}
.but{
    display: block;
    margin: 40px;
    padding: 10px;
    width: 250px;
    background-color: blueviolet;
    border-style: solid;
    border-radius: 15px;
    font-size: 25px;
    transition: 0.7s;

}
.but:hover{
    background-color: rgb(71, 13, 125);
    border-color: rgb(255, 0, 0);
    border-width: 3px;
}
.but:active{
    background-color: red;
}
.xx{
    background-color: blueviolet;
    color: white;
    padding: 4px 80px;
    transition: 1s;
    font-size: 20px;
}
.xx:hover{
    background-color: blue;
    border-radius: 10px;
    border-color: red;
}
.res{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.plecy{
    color: red;
}
.zas{
    color: green;
}
.nsp{
    color: brown;
}
.gora{
    color: blue;
}
.dol{
    color: rgb(249, 249, 2);
}
/* .active-title{
    color: rgb(222, 7, 189);
    margin-top: 30px;
} */
/* ###################################### */
.free-section{
    background-color:  rgba(105, 123, 123, 0.376);
    height: 100vh;
}
.style-input{
    border-radius: 10px;
    border-color: blue;
    border-width: 4px;
}

.xx-container{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: blue;

    
}
.ent-but{
    display: block;
    margin: 30px 0;
    
}
.info-stron{
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.free-result{
    margin-top: 30px;
}
.my-info{
    font-size: 50px;
    font-weight: bold;
}
/* dialogModal */
.dialogModal{
    width: 600px;
    height: 500px;
    background-color: rgb(255, 153, 0);
    text-align: center;
    
}
.kont{
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
    word-break: break-all;
    margin-bottom: 30px;
}
.title-dialog{
    font-size: 30px;
    margin: 70px 0 150px;
}
.close-dialog{
    padding: 10px 70px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    background-color: #161515;
    color: white;
    border-radius: 15px;
    border-color: yellow;
    border-width: 4px;
    box-shadow: 5px 5px  rgb(118, 118, 126);
}

@media(max-width:1000px){
    .res{
        font-size: 30px;
    }
    .text-str,
    .my-info{
        font-size: 30px;
    }
    .kont{
        width: 300px;
    }
}
@media(max-width:650px){
    .two-res-name,
    .text-str{
        display: none;
    }
    .two-box,
    .xx-container{
        display: block;
    }
    .two-res,
    .free-result{
        text-align: center;
    }
    .free-box{
        display: block;
    }
}








